<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{'/post/edit/' + ${boardDto.post_id}}" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="post_id" th:value="${boardDto.post_id}"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    제목 : <input type="text" name="title" th:value="${boardDto.title}"> <br>
    <input type="hidden" name="writer" class="form-control" id="inputAuthor" th:value="${author}">
    <textarea name="content" th:text="${boardDto.content}"></textarea><br>

    <input type="submit" value="수정">
</form>

</body>
</html>