<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  action="/post" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    제목 : <input type="text" name="title"> <br>
    <input type="hidden" name="writer" class="form-control" id="inputAuthor" th:value="${author}">
    임시게시판종류 : <input type="text" name="board_id"> <br>
    <!-- <input type="hidden" name="board_id" th:value="1"> -->

    <textarea name="content"></textarea><br>

    <input type="submit" value="등록">
</form>
</body>
</html>