<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main">
      <div class="tab-ly">
        <ul class="tab">
          <li class="tab__item">
            <a href="board-free.html" class="tab__link">자유 게시판</a>
          </li>
          <li class="tab__item">
            <a href="board-question.html" class="tab__link">질문 게시판</a>
          </li>
          <li class="tab__item">
            <a href="board-notice.html" class="tab__link tab__link_active"
              >공지 사항</a
            >
          </li>
        </ul>
      </div>
      <div class="main-preview">
        <div class="main-group-head group-head">
          <h2 class="group-head-title underline underline_size-3">공지 사항</h2>
        </div>
        <!-- start filter-bar -->
        <form action="">
          <div class="filter-bar">
            <input
              type="search"
              name=""
              id=""
              class="filter-bar__search-field"
            />
            <label for="search-btn">
              <img
                src="../img/search_white_24dp.svg"
                alt="search-ico"
                class="filter-bar__search-ico"
              />
            </label>
            <input type="submit" value="search" id="search-btn" />
          </div>
        </form>
        <!-- end filter-bar -->
        <!-- start card-group -->
        <div class="card-group">
          <div class="card-item card-item_board-ly">
            <a href="#" class="card card_board-ly card_board-border">
              <div class="">
                <h3 class="card__head card__head_board_ly">
                  제목을 입력합니다.
                </h3>
                <span class="card__date">2021.09.25</span>
                <div class="tag-group">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </div>
              <ul class="bulletien-info bulletien-info_board_ly">
                <li class="bulletien-info__item">- 작성자: 신현균신현균신현</li>
                <li class="bulletien-info__item">- 추천수: 190</li>
                <li class="bulletien-info__item">- 조회수: 2400</li>
                <li class="bulletien-info__item">- 댓글: 11</li>
              </ul>
            </a>
          </div>
          <div class="card-item card-item_board-ly">
            <a href="#" class="card card_board-ly card_board-border">
              <div class="">
                <h3 class="card__head card__head_board_ly">
                  제목을 입력합니다.
                </h3>
                <span class="card__date">2021.09.25</span>
                <div class="tag-group">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </div>
              <ul class="bulletien-info bulletien-info_board_ly">
                <li class="bulletien-info__item">- 작성자: 신현균신현균신현</li>
                <li class="bulletien-info__item">- 추천수: 190</li>
                <li class="bulletien-info__item">- 조회수: 2400</li>
                <li class="bulletien-info__item">- 댓글: 11</li>
              </ul>
            </a>
          </div>
          <div class="card-item card-item_board-ly">
            <a href="#" class="card card_board-ly card_board-border">
              <div class="">
                <h3 class="card__head card__head_board_ly">
                  제목을 입력합니다.
                </h3>
                <span class="card__date">2021.09.25</span>
                <div class="tag-group">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </div>
              <ul class="bulletien-info bulletien-info_board_ly">
                <li class="bulletien-info__item">- 작성자: 신현균신현균신현</li>
                <li class="bulletien-info__item">- 추천수: 190</li>
                <li class="bulletien-info__item">- 조회수: 2400</li>
                <li class="bulletien-info__item">- 댓글: 11</li>
              </ul>
            </a>
          </div>
          <div class="card-item card-item_board-ly">
            <a href="#" class="card card_board-ly card_board-border">
              <div class="">
                <h3 class="card__head card__head_board_ly">
                  제목을 입력합니다.
                </h3>
                <span class="card__date">2021.09.25</span>
                <div class="tag-group">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </div>
              <ul class="bulletien-info bulletien-info_board_ly">
                <li class="bulletien-info__item">- 작성자: 신현균신현균신현</li>
                <li class="bulletien-info__item">- 추천수: 190</li>
                <li class="bulletien-info__item">- 조회수: 2400</li>
                <li class="bulletien-info__item">- 댓글: 11</li>
              </ul>
            </a>
          </div>
        </div>
        <!-- end card-group -->
        <!-- start pagenation -->
        <div class="pagenation">
          <img
            src="../img/pagenation-left-end.svg"
            alt=""
            class="pagenation__btn"
          />
          <img
            src="../img/pagenation-left.svg"
            alt=""
            class="pagenation__btn"
          />
          <ul class="pagenation-list">
            <li class="pagenation-list__item pagenation-list__item_active">
              <span>01</span>
            </li>
            <li class="pagenation-list__item"><span>02</span></li>
            <li class="pagenation-list__item"><span>03</span></li>
          </ul>
          <img
            src="../img/pagenation-right.svg"
            alt=""
            class="pagenation__btn"
          />
          <img
            src="../img/pagenation-right-end.svg"
            alt=""
            class="pagenation__btn"
          />
        </div>
        <!-- end pagenation -->
      </div>
    </div>
    <!-- footer -->
    <script src="../JS/footer.js"></script>
  </body>
</html>
