<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style></style>
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main">
      <!-- start tab -->
      <div class="tab-ly">
        <ul class="tab">
          <li class="tab__item">
            <a href="board-free.html" class="tab__link tab__link_active"
              >자유 게시판</a
            >
          </li>
          <li class="tab__item">
            <a href="board-question.html" class="tab__link">질문 게시판</a>
          </li>
          <li class="tab__item">
            <a href="board-notice.html" class="tab__link">공지 사항</a>
          </li>
        </ul>
      </div>
      <!-- end tab -->
      <!-- start main-preview -->
      <div class="main-preview">
        <div class="main-group-head group-head">
          <h2 class="group-head-title underline underline_size-1">
            자유 게시판
          </h2>
        </div>
        <div class="content">
          <h3 class="content__header">제목</h3>
          <div class="content__info">
            <!-- 유저 아이콘 -->
            <!-- <img
              src=""
              alt=""
              class="content__info-ico"
              width="30px"
              height="30px"
            /> -->
            <!-- 유저 닉네임 -->
            <span class="content__info-nickname">nickname1234</span>
            <!-- 작성 날짜 -->
            <span class="content__info-date">2021. 10. 11.</span>
          </div>
          <div class="content__tag-group">
            <span class="tag">알고리즘</span>
            <span class="tag">파이썬</span>
            <span class="tag">백준</span>
          </div>
        </div>
        <!-- 실제 글 내용 -->
        <article class="content__article">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus id
            obcaecati ullam eligendi blanditiis odio, aut adipisci nostrum ipsa
            consequatur repellendus rerum deserunt? Voluptatibus facilis tenetur
            quisquam culpa reiciendis, eveniet aliquam laboriosam voluptate,
            animi rem dignissimos consequatur. Magni accusantium natus aut quos
            provident, deleniti magnam minus nemo consequuntur omnis? Sit harum
            ullam quasi a totam ipsam mollitia assumenda vel minus, aspernatur
            hic accusamus molestias officia saepe pariatur cumque nulla eaque
            quidem deserunt rem, quisquam laborum delectus earum ipsum? Corrupti
            impedit quae accusantium esse ut veritatis sed nihil culpa sint
            assumenda, perferendis blanditiis numquam alias repudiandae
            consequuntur enim voluptatem. Doloribus, assumenda?
          </p>
          <img src="../img/ex1.jpg" alt="" width="100%" />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          cupiditate iusto aut, saepe illum suscipit magni quas libero dolorum
          eos!
        </article>
        <div class="content__article-end">
          <div class="content__article-end__left"></div>
          <div class="content__article-end__right">
            <img src="../img/visibility_black_24dp.svg" alt="" />
            <span>조회수: 186</span>
            <img src="../img/favorite_border_black_24dp.svg" alt="" />
            <span>추선수: 56</span>
          </div>
        </div>
        <div class="comments-write">
          <h4 class="comments-write__header">2개의 댓글</h4>
          <textarea
            name=""
            id=""
            class="comments-write__textform"
            placeholder="댓글을 작성하세요"
          ></textarea>
          <input type="button" value="작성" class="comments-write__btn" />
        </div>
        <div class="user-comments">
          <h4 class="user-comments__header">댓글 작성자</h4>
          <div class="user-comments__info">
            <span>2021. 10. 11.</span>
            <span>15:39:22</span>
          </div>
          <div class="user-comments__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, totam
            impedit illo repellat laborum quasi incidunt distinctio sequi
            aliquam dolorem facilis vitae minima perspiciatis sunt corrupti. At
            non molestias hic.
          </div>
          <!-- <div class="user-comments__reply">답글 달기</div> -->
        </div>
        <div class="user-comments">
          <h4 class="user-comments__header">댓글 작성자</h4>
          <div class="user-comments__info">
            <span>2021. 10. 11.</span>
            <span>15:39:22</span>
          </div>
          <div class="user-comments__content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, totam
            impedit illo repellat laborum quasi incidunt distinctio sequi
            aliquam dolorem facilis vitae minima perspiciatis sunt corrupti. At
            non molestias hic.
          </div>
          <!-- <div class="user-comments__reply">답글 달기</div> -->
        </div>
      </div>
      <!-- end main-preview -->
    </div>
    <!-- end main -->
    <!-- start footer -->
    <script src="../JS/footer.js"></script>
    <!-- end footer -->
  </body>
</html>
