<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style></style>
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main"></div>
    <!-- end main -->
    <!-- start footer -->
    <script src="../JS/footer.js"></script>
    <!-- end footer -->
  </body>
</html>
