<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style></style>
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main">
      <!-- start tab -->
      <div class="tab-ly">
        <ul class="tab">
          <li class="tab__item">
            <a href="study-find.html" class="tab__link tab__link_active"
              >스터디 찾기</a
            >
          </li>
          <li class="tab__item">
            <a href="project-find.html" class="tab__link">프로젝트 찾기</a>
          </li>
        </ul>
      </div>
      <!-- end tab -->
      <!-- start main-preview -->
      <div class="main-preview">
        <div class="main-group-head group-head">
          <h2 class="group-head-title underline underline_size-1">
            스터디 찾기
          </h2>
          <a href="study-recruit.html" class="more-btn">스터디 모집</a>
        </div>
        <!-- start filter-bar -->
        <form action="">
          <div class="filter-bar">
            <img
              src="../img/filter_list_white_24dp.svg"
              alt="filter-ico"
              class="filter-bar__filter-ico"
            />
            <span class="vertical-line"></span>
            <select name="" id="" class="filter-bar__select">
              <option value="">인원</option>
              <option value="">1</option>
              <option value="">2</option>
            </select>
            <select name="" id="" class="filter-bar__select">
              <option value="">언어</option>
              <option value="">python</option>
              <option value="">java</option>
            </select>
            <input
              type="search"
              name=""
              id=""
              class="filter-bar__search-field"
            />
            <label for="search-btn">
              <img
                src="../img/search_white_24dp.svg"
                alt="search-ico"
                class="filter-bar__search-ico"
              />
            </label>
            <input type="submit" value="search" id="search-btn" />
          </div>
        </form>
        <!-- end filter-bar -->
        <!-- start card-group -->
        <ul class="card-group">
          <!-- start card -->
          <li class="card-item">
            <div class="card-ly1">
              <a href="#" class="card card_big">
                <h3 class="card__head fs_28">제목을 입력합니다.</h3>
                <span class="card__date">2021. 09. 24.</span>
                <div class="card__content">
                  <p class="card__p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla, voluptate. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Magnam, necessitatibus.
                  </p>
                  <ul class="bulletien-info">
                    <li class="bulletien-info__item">- 작성자: 신현균</li>
                    <li class="bulletien-info__item">- 작성일: 2021.09.25</li>
                    <li class="bulletien-info__item">- 추천수: 190</li>
                  </ul>
                </div>
                <div class="tag-group tag_18">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </a>
            </div>
          </li>
          <!-- end card -->
          <!-- start card -->
          <li class="card-item">
            <div class="card-ly1">
              <a href="#" class="card card_big">
                <h3 class="card__head fs_28">제목을 입력합니다.</h3>
                <span class="card__date">2021. 09. 24.</span>
                <div class="card__content">
                  <p class="card__p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla, voluptate. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Magnam, necessitatibus.
                  </p>
                  <ul class="bulletien-info">
                    <li class="bulletien-info__item">- 작성자: 신현균</li>
                    <li class="bulletien-info__item">- 작성일: 2021.09.25</li>
                    <li class="bulletien-info__item">- 추천수: 190</li>
                  </ul>
                </div>
                <div class="tag-group tag_18">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </a>
            </div>
          </li>
          <!-- end card -->
          <!-- start card -->
          <li class="card-item">
            <div class="card-ly1">
              <a href="#" class="card card_big">
                <h3 class="card__head fs_28">제목을 입력합니다.</h3>
                <span class="card__date">2021. 09. 24.</span>
                <div class="card__content">
                  <p class="card__p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla, voluptate. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Magnam, necessitatibus.
                  </p>
                  <ul class="bulletien-info">
                    <li class="bulletien-info__item">- 작성자: 신현균</li>
                    <li class="bulletien-info__item">- 작성일: 2021.09.25</li>
                    <li class="bulletien-info__item">- 추천수: 190</li>
                  </ul>
                </div>
                <div class="tag-group tag_18">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </a>
            </div>
          </li>
          <!-- end card -->
          <!-- start card -->
          <li class="card-item">
            <div class="card-ly1">
              <a href="#" class="card card_big">
                <h3 class="card__head fs_28">제목을 입력합니다.</h3>
                <span class="card__date">2021. 09. 24.</span>
                <div class="card__content">
                  <p class="card__p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nulla, voluptate. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Magnam, necessitatibus.
                  </p>
                  <ul class="bulletien-info">
                    <li class="bulletien-info__item">- 작성자: 신현균</li>
                    <li class="bulletien-info__item">- 작성일: 2021.09.25</li>
                    <li class="bulletien-info__item">- 추천수: 190</li>
                  </ul>
                </div>
                <div class="tag-group tag_18">
                  <span>#태그1</span> <span>#태그2</span> <span>#태그3</span>
                </div>
              </a>
            </div>
          </li>
          <!-- end card -->
        </ul>
        <!-- end card-group -->
        <!-- start pagenation -->
        <div class="pagenation">
          <img
            src="../img/pagenation-left-end.svg"
            alt=""
            class="pagenation__btn"
          />
          <img
            src="../img/pagenation-left.svg"
            alt=""
            class="pagenation__btn"
          />
          <ul class="pagenation-list">
            <li class="pagenation-list__item pagenation-list__item_active">
              <span>01</span>
            </li>
            <li class="pagenation-list__item"><span>02</span></li>
            <li class="pagenation-list__item"><span>03</span></li>
          </ul>
          <img
            src="../img/pagenation-right.svg"
            alt=""
            class="pagenation__btn"
          />
          <img
            src="../img/pagenation-right-end.svg"
            alt=""
            class="pagenation__btn"
          />
        </div>
        <!-- end pagenation -->
      </div>
      <!-- end main-preview -->
    </div>
    <!-- end main -->
    <!-- start footer -->
    <script src="../JS/footer.js"></script>
    <!-- end footer -->
  </body>
</html>
