<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style></style>
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main">
      <div class="main-preview">
        <div class="main-group-head group-head">
          <h2 class="group-head-title underline underline_size-1">메시지</h2>
        </div>
        <div href="" class="message">
          <div class="message__user-name message__user-name_right">User1</div>
          <div class="message__content">
            <span class="message__content-date">1분전</span>
            <span class="message__content-content">awsdasdas</span>
          </div>
        </div>
        <div href="" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </div>
        <div href="" class="message">
          <div class="message__user-name message__user-name_right">User1</div>
          <div class="message__content">
            <span class="message__content-date">1분전</span>
            <span class="message__content-content">awsdasdas</span>
          </div>
        </div>
        <div href="" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </div>
        <div href="" class="message">
          <div class="message__user-name message__user-name_right">User1</div>
          <div class="message__content">
            <span class="message__content-date">1분전</span>
            <span class="message__content-content">awsdasdas</span>
          </div>
        </div>
        <form action="" class="message-input">
          <input type="text" class="message-input__text" />
          <input type="submit" value="전송" class="message-input__submit" />
        </form>
      </div>
    </div>
    <!-- end main -->
    <!-- start footer -->
    <script src="../JS/footer.js"></script>
    <!-- end footer -->
  </body>
</html>
