<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style></style>
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main">
      <div class="main-preview">
        <div class="main-group-head group-head">
          <h2 class="group-head-title underline underline_size-1">메시지</h2>
        </div>
        <a href="user-info-message-user.html" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </a>
        <a href="" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </a>
        <a href="" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </a>
        <a href="" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </a>
        <a href="" class="message">
          <div class="message__user-name">User1</div>
          <div class="message__content">
            <span class="message__content-content">awsdasdas</span>
            <span class="message__content-date">1분전</span>
          </div>
        </a>
        <!-- start pagenation -->
        <div class="pagenation">
          <img
            src="../img/pagenation-left-end.svg"
            alt=""
            class="pagenation__btn"
          />
          <img
            src="../img/pagenation-left.svg"
            alt=""
            class="pagenation__btn"
          />
          <ul class="pagenation-list">
            <li class="pagenation-list__item pagenation-list__item_active">
              <span>01</span>
            </li>
            <li class="pagenation-list__item"><span>02</span></li>
            <li class="pagenation-list__item"><span>03</span></li>
          </ul>
          <img
            src="../img/pagenation-right.svg"
            alt=""
            class="pagenation__btn"
          />
          <img
            src="../img/pagenation-right-end.svg"
            alt=""
            class="pagenation__btn"
          />
        </div>
        <!-- end pagenation -->
      </div>
    </div>
    <!-- end main -->
    <!-- start footer -->
    <script src="../JS/footer.js"></script>
    <!-- end footer -->
  </body>
</html>
