<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link In One</title>
    <link rel="stylesheet" href="../CSS/reset.css" />
    <link rel="stylesheet" href="../CSS/style.css" />
    <style></style>
  </head>
  <body>
    <!-- start login-modal -->
    <script src="../JS/login-modal.js"></script>
    <!-- end login-modal -->
    <!-- start header -->
    <script src="../JS/header.js"></script>
    <!-- end header -->
    <!-- start main -->
    <div class="main">
      <div class="main-preview">
        <div class="main-group-head group-head">
          <h2 class="group-head-title underline underline_size-2">
            회원 정보 수정
          </h2>
        </div>
        <!-- start user-info-ly -->
        <div class="user-info user-info-ly">
          <!-- <img
            src=""
            alt=""
            class="user-info__img"
            style="background-color: black; width: 300px; height: 300px"
          /> -->
          <div class="user-info__content content_left">
            <span class="user-info__nickname">nickname1234</span>
            <!-- <div class="user-info__tech">
              <label class="user-info__label">주언어</label>
              <span class="tag">JavaScript</span>
            </div> -->
            <div class="user-info__tech">
              <label class="user-info__label">관심 언어</label>
              <span class="tag">Java</span>
              <span class="tag">Python</span>
              <span class="tag">C</span>
              <span class="tag">C++</span>
            </div>
          </div>
          <div class="user-info__content content_right">
            <div class="user-info__input-ly">
              <label class="user-info__label" for="email">이메일</label>
              <input
                type="email"
                name=""
                id=""
                value="사용자이메일@email.com"
                class="user-info__input-item"
                disabled
              />
            </div>
            <div class="user-info__input-ly">
              <label class="user-info__label" for="name">이름</label>
              <input
                type="text"
                name=""
                id=""
                value="신현균"
                class="user-info__input-item"
                disabled
              />
            </div>
            <div class="user-info__input-ly">
              <label class="user-info__label" for="nickname">닉네임</label>
              <input
                type="text"
                name=""
                id=""
                value="nickname1234"
                class="user-info__input-item"
              />
            </div>
          </div>
        </div>
        <!-- end user-info-ly -->
        <form action="" class="user-info__btn-group">
          <input type="submit" class="more-btn btn-color_sb" value="수정사항 저장"></input>
          <a href="#modify-pw-modal" class="more-btn btn-color_sb">비밀번호 변경</a>
          <a href="#tech-modal" class="more-btn btn-color_sb">언어 변경</a>
        </form>
      </div>
    </div>
    <!-- end main -->
    <!-- start footer -->
    <script src="../JS/footer.js"></script>
    <!-- end footer -->
  </body>
</html>
